img {
  max-height: 50vh;
  max-width: 80vw;
}
#output {
  font-size: 3rem;
}
.gh-dark {
  display: none;
}
.gh-light {
  display: block;
}
@media (prefers-color-scheme: dark) {
  body {
    transition-duration: 200ms;
    background: #202020;
    color: white;
  }
  input {
      color: whitesmoke;
  }
  .gh-dark {
    display: block;
  }
  .gh-light {
    display: none;
  }
}
